.card-style {
  width: 48%;
  transition: all 0.2s ease-in-out;
  padding: 0;
}

.card-style:hover {
  cursor: pointer;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
  scale: 1.02;
}

.card-style img {
  height: 30rem;
}

.property-card-inner-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-start;
}

.property-card-details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 3rem 3rem 3rem;
}

.property-card-details-wrapper div:nth-child(1) {
  width: 70%;
}

.property-card-details-wrapper div:nth-child(2) {
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.property-more-detail {
  display: flex;
  column-gap: 2rem;
}

.view-more-button {
  padding: 1rem 0;
}

.favourite-button {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.favourite-button svg {
  width: 2rem;
  height: 2rem;
}
